rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Matches collection containing scores and participant bets
    match /matches/{matchId} {
      allow read, write: if true;
    }

    // Food Votes collection holding one vote per participant
    match /food_votes/{participantName} {
      allow read, write: if true;
    }
  }
}
